<nav class="navbar navbar-expand-lg" style="background-color: #FF5A5F;">
  <div class="container-fluid">
    <%= link_to "Rent Your Family", root_path, class: "navbar-brand text-white fw-bold" %>

    <div class="ms-auto d-flex gap-2">
      <% if user_signed_in? %>
        <% provider = current_user.provider %>
        
        <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "btn btn-light fw-semibold text-danger" %>

      <% else %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-light fw-semibold text-danger" %>
      <% end %>
    </div>
  </div>
</nav>

<div class="container mt-4 d-flex justify-content-between align-items-center">
  <% if user_signed_in? && current_user.provider && current_user.provider.family.present? %>
    <h1 class="text-primary fw-bold mb-0">
      Welcome back, <%= current_user.provider.family.members %>!
    </h1>
    <%= button_to "Delete listing!", family_path(current_user.provider.family), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger rounded-pill px-4" %>
  <% else %>
    <h1 class="text-secondary mb-0">
      Welcome back!
    </h1>

    <!-- The button register your family changes functionality based on wheater the provider exists or not-->
    <% if user_signed_in? %>
     <% if current_user.provider.present? %>
       <%= link_to "Register Your Family", new_family_path, class: "btn btn-outline-danger rounded-pill px-4" %>
     <% else %>  
      <%= link_to "Create New Provider", new_provider_path, class: "btn btn-outline-danger rounded-pill px-4" %>
     <% end %> 
    <% end %>
  <% end %>
</div>