<nav class="navbar navbar-expand-lg" style="background-color: #FF5A5F;">
  <div class="container-fluid">

    <%= link_to "Rent Your Family", root_path, class: "navbar-brand text-white fw-bold" %>

    <div class="ms-auto d-flex gap-2">
      <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "btn btn-light fw-semibold text-danger" %>
      <% end %>
    </div>
  </div>
</nav>

  <div class="container mt-4 d-flex justify-content-between align-items-center">
  <% if user_signed_in? %>
    <% if current_user.guest.present? && current_user.guest.first_name.present? %>
      <h3 style="font-family: 'Pacifico', cursive; font-weight: 400; font-size: 1.75rem; color: #FF6B6B; margin-bottom: 0;">
        Welcome back, <%= current_user.guest.first_name %>!
      </h3>
    <% else %>
      <%= link_to "Register", new_guest_path, class: "btn btn-outline-danger rounded-pill px-4" %>
    <% end %>
  <% end %>
 </div>

<div class="container mt-4">
  <% if current_user && current_user.role == "guest" %>
    <div class="text-center mb-4">
    </div>

    <div class="d-flex justify-content-center">
      <div class="card w-100" style="max-width: 600px;">
        <div class="card-body">
          <% if @bookings.present? %>
            <h5 class="card-title">My Bookings: <%= @bookings.count %></h5>
            <hr>
            <% @bookings.each do |booking| %>

              <div class="container d-flex justify-content-between shadow p-4">

                <div class="mb-3">
                  <p class="mb-1"><strong>Family:</strong> <%= booking.family.members %></p>
                  <p class="mb-1"><strong>Location:</strong> <%= booking.family.location %></p>
                  <p class="mb-1"><strong>Event:</strong> <%= booking.family.event_type %></p>

                  <p class="mb-1"><strong>On:</strong>  <% start_date = booking.start_time %>
                  <% end_date = booking.end_time %>
                  <% nights = (end_date - start_date).to_i %>

                  <% if end_date == start_date %>
                    <em><%= start_date.strftime('%b %-d,  %Y') %></em><br>
                  <% else %>
                    <%= "#{start_date.strftime('%b %-d, %Y')} – #{end_date.strftime('%-d')} (#{nights} #{'night'.pluralize(nights)})" %><br>
                  <% end %></p>

                  <p class="mb-1"><strong>Start Time:</strong>  <em><%= booking.start_hour.strftime("%H:%M") %></em><br>
                  <p class="mb-1"><strong>End Time:</strong>  <em><%= booking.end_hour.strftime("%H:%M") %></em><br>
                  

              
                  <% if booking.review.present? %>
                    <p><%= booking.review.content %> <%= booking.review.rating %></p>
                  <% end %>

                  <% if booking.can_write_review %>

                    <div>
                      <%= simple_form_for booking.create_review do |r| %>
                      <%= r.input :content %>
                      <%= r.collection_radio_buttons :rating, [[1, "1"],[2, "2"],[3,"3"],[4, "4"],[5, "5"]], :first, :last %>
                      <%= r.submit %>
                      <%= r.hidden_field :booking_id, value: booking.id %>
                      <% end %>
                    </div>

                  <% end %>
                </div>
                <div class="mb-3">
                
                <!--This will show the uploaded photo where it exists, otherwise will use the generated one-->
                  <% if booking.family.photo.attached? %>
                  <%= image_tag booking.family.photo, alt: "#{booking.family.members} photo",
                      class: "card-img-center p-2 border rounded bg-light",
                      style: "object-fit: cover; height: 200px; width: 200px" %>
                <% else %>
                  <%= image_tag "https://image.pollinations.ai/prompt/japanese_family_called_#{booking.family.members}",
                      alt: "Random family", class: "card-img-top p-3 border rounded bg-light",
                      style: "object-fit: cover; height: 300px; width: 600px" %>
                <% end %>

                <div class="bg-success-subtle text-center"><p class="mb-1"><strong>Total:</strong> ¥ <%= booking.total_cost%></p></div>
                </div>

              </div>
              <hr>
            <% end %>
          <% else %>
            <p class="text-muted mb-0">No bookings found.</p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
