<nav class="navbar navbar-expand-lg" style="background-color: #FF5A5F;">
  <div class="container-fluid">
    <%= link_to "Home", root_path, class: "navbar-brand text-white fw-bold" %>

    <div class="ms-auto d-flex gap-2">
      <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "btn btn-light fw-semibold text-danger" %>
          <% if current_user.role == "provider"%>
        <%= link_to "Dashboard", providers_path, class: "btn btn-light fw-semibold text-danger" %>
          <% end %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-light fw-semibold text-danger" %>
        <%= link_to "Register Your Family", new_provider_path, class: "btn btn-light fw-semibold text-danger" %>
      <% end %>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <h1>Families</h1>

  <div class="list-group">
    <% @families.each do |family| %>
      <div class="list-group-item">
        <div class="d-flex align-items-center gap-3">
            <%= image_tag "https://image.pollinations.ai/prompt/japanese_family_called_#{family.members}", alt: "Random family", class: "img-placeholder", width: 100, height: 100 %>
          <div>
            <%= link_to family.members, family_path(family), class: "list-group-item list-group-item-action" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
