<nav class="navbar navbar-expand-lg" style="background-color: #FF5A5F;">
  <div class="container-fluid">
    <%= link_to "Dashboard", root_path, class: "navbar-brand text-white fw-bold" %>

    <div class="ms-auto d-flex gap-2">
      <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "btn btn-light fw-semibold text-danger" %>
          <% if current_user.role == "provider"%>
        <%= link_to "Dashboard", providers_path, class: "btn btn-light fw-semibold text-danger" %>
          <% end %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-light fw-semibold text-danger" %>
        <%= link_to "Register Your Family", new_provider_path, class: "btn btn-light fw-semibold text-danger" %>
      <% end %>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <h1>Families</h1>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  <% @families.each do |family| %>
    <div class="col">
      <div class="card h-100 shadow-sm">
        <%= image_tag "https://image.pollinations.ai/prompt/japanese_family_called_#{family.members}", alt: "Random family", class: "card-img-top", style: "object-fit: cover; height: 200px;" %>
        <div class="card-body">
          <h5 class="card-title fw-bold"><%= link_to family.members, family_path(family), class: "text-decoration-none text-dark" %></h5>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
