<div class="col-4">
  <p><%= @booking.family_id %></p>
  <p><%= @booking.user_id %></p>
  <p><%= @booking.location %></p>
  <p><%= @booking.start_time %> <%= @booking.end_time %></p>
  <p><%= @booking.total_cost %></p>
</div>
