<nav class="navbar navbar-expand-lg" style="background-color: #FF5A5F;">
  <div class="container-fluid">
    <%= link_to "Rent Your Family", families_path, class: "navbar-brand text-white fw-bold" %>

    <div class="ms-auto d-flex gap-2">
      <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "btn btn-light fw-semibold text-danger" %>
          <% if current_user.role == "provider"%>
        <%= link_to "Dashboard", providers_path, class: "btn btn-light fw-semibold text-danger" %>
          <% end %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-light fw-semibold text-danger" %>
        <%= link_to "Register Your Family", new_provider_path, class: "btn btn-light fw-semibold text-danger" %>
      <% end %>
    </div>
  </div>
</nav>

<div class="container mt-4">

<% if current_user && current_user.role == "guest"%>
<div class= "d-flex justify-content-center">
  <h2 >About me</h2>
</div>
  
<% end %>

</div>

<div class="container mt-4">